@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  direction: rtl;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.text__gray {
  color: #62666d;
}

.text__red {
  color: #f3534f;
}
.swiper-button-next,
.swiper-button-prev {
  color: #252323 !important;
  width: 40px !important;
  height: 40px !important;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

.custom-list {
  list-style: none; /* حذف نقطه‌های پیش‌فرض */
  padding: 0;
}

.custom-list li {
  position: relative;
  padding-right: 1.2em; /* فضای مناسب برای نقطه */
  text-align: right;
  direction: rtl; /* لیست راست‌چین */
}

.custom-list li::before {
  content: "•";
  position: absolute;
  right: 0;
  top: 0.2em;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.3);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.apexcharts-text {
  font-family: var(--font-yekan-bakh) !important;
}

.apexcharts-menu {
  background: #ffffff !important;
  border: 1px solid #e5e7eb !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;
  padding: 8px 0 !important;
}

.apexcharts-menu-item {
  color: #4b5563 !important;
  font-family: "Yekan Bakh" !important;
  padding: 8px 16px !important;
  font-size: 14px !important;
}

.apexcharts-menu-item:hover {
  background: #f3f4f6 !important;
  color: #111827 !important;
}

.apexcharts-menu-open {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}
